body {
    font-family: "Roboto", sans-serif;
    color: rgb(33, 33, 33);
    background: rgb(255, 255, 255)
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5,h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-head {
    display: flex;
}

.header-div {
    display: flex;
}

.header {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.logo-header {
    font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.03em;
    color: #000000;  
    margin-right: 93px;
    display: flex;
    align-items: center;
    padding-top: 25px;
        padding-bottom: 25px;
}

.web {
    color: #2196F3;
}

.header-nav {
    display: flex;
    gap: 50px;
    align-items: center;
    
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: rgb(33, 33, 33);
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.now {
    color: #2196F3;
}

.header-item:hover {
    color:#2196F3;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
    align-items: center;
}

.header-link {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        color: #757575;
        padding-top: 32px;
        padding-bottom: 32px;
}

.header-link:hover {
    color: #2196F3;
}

.head {
    background-color: rgb(47, 48, 58);
    padding-top: 200px;
    padding-bottom: 200px;
}


.head-text {
    width: 696px;
    height: 120px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 260px;
    margin-right: 260px;
    text-align: center;
}
 
.button {
    width: 216px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #2196F3;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
        border-radius: 4px;
        margin-left: 477px;
        margin-right: 477px;
        border: 0;
}

.hero {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero-list {
    display: flex;
    gap: 30px;
}

.hero-item-head {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hero-list-item {
    width: 270px;
height: 98px;
}

.hero-item-text {
    color: rgb(117, 117, 117);        
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.doing {
    padding-bottom: 94px;
}

 .doing-photo {
    display: flex;
    gap: 30px;
 }

.doing-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}


.team {
    background-color: rgb(245, 244, 250);
    padding-top: 94px;
    padding-bottom: 94px;
}

 .team-list {
    display: flex;
    gap: 30px;
 }
 
 .team-item {
    border-radius: 0px 0px 4px 4px;
        background: rgb(255, 255, 255);
 }
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.team-list-info {
padding-top: 30px;   
padding-bottom: 30px;
}
.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.team-work {
    color: rgb(117, 117, 117);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
}

.footer {
    background: rgb(47, 48, 58);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}


.address-link {
    color: rgb(255, 255, 255, 0.6); 
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
       
}
.address-link:hover {
    color: #2196F3;
}
.address-map {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-map:hover {
    color: #2196F3;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.footer-item {
    display: block;
}  

.footer-item:nth-child(-n + 2) {
    margin-bottom: 9px;
}


/* portfolio */
.menu{
    padding-bottom: 94px;
    padding-top: 94px;
}

.menu-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.menu-button {
    color: rgb(33, 33, 33);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    background: rgb(245, 244, 250);
    cursor: pointer; 
    border-radius: 4px; 
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    border: 0;
}
.main {
    color: rgb(255, 255, 255);
    background-color: #2196F3;
}

.menu-button:hover {
    color: rgb(255, 255, 255);
    background-color: #2196F3;
}

.work-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
}

.work-text {
    color: rgb(117, 117, 117);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
}

.menu-link {
    color: rgb(33, 33, 33);
}

.work-list {
    display: flex;
        flex-wrap: wrap;
        gap: 30px;
}

.work-list-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid rgb(238, 238, 238);;
    border-right: 1px solid rgb(238, 238, 238);;
    border-bottom: 1px solid rgb(238, 238, 238);;
}
